*
{
    margin: 0;
    padding: 0;
}
/*----navigationbar----*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 60px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
/*---slider----*/
#slider
{
    width: 100%;
}
.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5
{
    color: white;
    font-size: 50px;
}
/*----about----*/
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content
{
    color: white;
    font-family: "roboto",sans-serif;
    font-size: 20px;
    padding-top: 20px;
}
.col-md-6 h2
{
      font-size: 40px;
}
.col-md-6 
{ 
background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)), url('about.jpg');
height: auto; 
background-size: 400px;
background-position: right;

}